.section-certificates {
  @include center($position: relative);
  width: 94%;
  height: 92%;
  background-color: var(--primary);
  border-radius: $radius;
  border: 2px solid var(--shadow);
}

.section-certificates__list {
  height: 100%;
  @include flex(row, center, space-evenly);  
  flex-wrap: wrap;  
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.section-certificates__list__item {
  list-style-type: none;
  transform: scale(1);
  transition: transform 0.3s;
  border: 4mm ridge #6b4b38;
  overflow: hidden;
  cursor: zoom-in;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, rgba(131, 168, 183, 0.4), rgba(0, 0, 0, 0));
    position: absolute;
  }

  &::after {
    content: "";
    height: 150%;
    width: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.6s;
    left: -120px;
    top: -50px;
  }
  
  &:hover {
    transform: scale(1.05);
    &:after {
      transform: translateX(500px) rotate(20deg);
    }
  }

  .section-certificates__list__img {
    height: 100%;
    width: 100%;   
    object-fit: fill;

  }
}

.zoom {
  z-index: 1;
  position: absolute;
  cursor: zoom-out;
}

@media (min-width: map-get($breakpoints, "xs")) {
  
  .section-certificates__list__item {
    height: 170px;
    margin: 10px;
  }

  .zoom {
    scale: 1.3;
  }
}

@media (min-width: map-get($breakpoints, "sm")) {


  .section-certificates__list__item {
    height: 220px;
    margin: 10px;
  }
  
  .zoom {
    scale: 1.6;
  }

}

@media (min-width: map-get($breakpoints, "md")) {
  .section-certificates__list__item {
    height: 190px;
  }

   .zoom {
    scale: 2.3;
  }

}

@media (min-width: map-get($breakpoints, "lg")) {

  .section-certificates__list__item {
    height: 180px;
  }

  .zoom {
    scale: 2.9;
  }

 
}

@media (min-width: map-get($breakpoints, "xl")) {
  .section-certificates__list__item {
    height: 230px;
  }

  .zoom{
    scale: 2.7;
  }
  
}
