.section-home__box--clock {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  pointer-events: none;
  position: relative;
}

.clock-outer {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::after {
    background: var(--text);
    content: '';
    left: 49%;
    height: 100%;
    position: absolute;
    transform: rotate(90deg);
    width: 3px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  &::before {
    background: var(--text);
    content: '';
    height: 100%;
    left: 49%;
    position: absolute;
    width: 3px;
  }

  &__marking {
    background: var(--shadow);
    content: '';
    height: 100%;
    left: 49%;
    position: absolute;
    width: 2px;

    &--one {
      transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
    }

    &--two {
      transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -webkit-transform: rotate(60deg);
    }

    &--three {
      transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      -webkit-transform: rotate(120deg);
    }

    &--four {
      transform: rotate(150deg);
      -moz-transform: rotate(150deg);
      -webkit-transform: rotate(150deg);
    }
  }  
}

.clock-inner {
  background: var(--primary);
  border-radius: 100%;
  height: 80%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 80%;
  z-index: 1;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;

  &::before {
    background: var(--shadow);
    border-radius: 18px;
    content: '';
    height: 10px;
    left: 55%;
    margin-left: -9px;
    margin-top: -6px;
    position: absolute;
    top: 52%;
    width: 10px;
    z-index: 11;
  }

  &__hand {
    background: #cc0000;
    border-radius: 6px;
    height: 4px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform-origin: 100%;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

    &--hour {
      width: 30%;
      z-index: 3;
    }

    &--min {
      height: 2px;
      width: 45%;
      z-index: 10;
    }

    &--second {
      background: var(--text);
      height: 1px;
      width: 48%;
    }
  }
}