.section-cv {
  background-color: var(--primary);
  border: 2px solid var(--shadow);
  border-radius: $radius;
  height: 90%;
  overflow: hidden;
  width: 92%;
  @include center();

  &__container {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    width: 100%;
  }
}

.about {
  background-color: var(--primary);
  color: var(--text);
  flex: 4;
  overflow-y: auto;

  &__title {
    text-align: center;
    
    i {
      margin-right: 15px;
    }
  }

  .about__paragraph {
    margin: 0 8px 25px 12px;
  }
}

.experience {
  background-color: var(--bg);
  color: var(--text);
  flex: 6;
  overflow-y: auto;
  position: relative;
  padding: 20px 0 20px 0;

  > * {
    margin: 0 20px 20px 20px;
  }

  &__title {
    margin-bottom: 20px;
    text-decoration: underline;

    i {
      margin-right: 15px;
    }
  }

  &__title:not(:first-child){
    margin-top: 60px;
  }
}

.informtion {
  margin-top: 20px;
}

.experience__paragraph--clause {
  font-size: 11px;
  margin-top: 70px;
}

.experience__email:link { 
  color: var(--text);
  text-decoration: none; 

  &:hover {
    color: lighten(black, 50%);
  }
}

@media (max-width: 766px){
  
  .section-cv__container {
    display: flex;
    flex-direction: column;

    .experience {
      border-top: 2px solid var(--shadow);
    }
  }
}


/* Scrollbars */

.about::-webkit-scrollbar {
  width: 8px;
}

.about::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--shadow);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.about::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--main);
  border: 2px solid var(--shadow);
}

.experience::-webkit-scrollbar {
  width: 8px;
}

.experience::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--shadow);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.experience::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--main);
  border: 2px solid var(--shadow);
}