/* Back button */

.main__button {
  background: transparent;
  border: none;
  color: var(--text); 
  position: absolute;  
  font-size: 26px;
  z-index: 999;

  &:hover {
    cursor: pointer;
    span {
      display: inline;
      position: relative;
      font-size: 16px;
      left: 12px;
      bottom: 5px;
      font-family: $font-text
    }
  }
}


/* Home section - link buttons */

.link-btn {
  display: flex;
  width: 100%;

  &__icon {
    object-fit: contain;
    padding: $base-size;
    width: 100%;    
      
    &:hover {
      transform: scale(1.1); 
      transition: 0.9s;
    }
  }

  &__description {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-dark);
    font-family: $font-header;
    font-weight: 700;
    left: 0px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    @include flex(row, center, center);
  }

  &--popup-descr {
    &:hover {
      transform: rotateX(0deg);    
      .link-btn__description {    
        border-radius: 5px;
        height: 100%;
        width: 100%;
        transition: visibility 0s ease-in 0.8s;  
        visibility: visible;
        width: 100%;       
      }
      .link-btn__icon {
        filter: blur(1.5px);
      }
    }
  }
}


/* Gallery change buttons */

.section-gallery__popup__btn {
  background-color: rgba(255 255 255 / 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  height: 40px;
  width: 40px;

  &:hover {
    background-color: rgba(255 255 255 / 0.8);
  }

  &--previous {    
    left: 4em;
    top: 50%;
  }

  &--next {    
    right: 4em;
    top:50%;
  }
}