 .form {
  height: 90%;
  width: 100%;

  &__fieldset {
    border-radius: $radius;
    height: 100%;

    &__legend {
      font-size: 14px;
      padding: 0 20px;
      text-align: center;
      text-transform: uppercase;
    }

    &__elements {
      height: 100%;
      @include flex (none, center, center);

      & > * {
        padding: 24px;
      }
    }

    &__confirm-msg{
      @include flex(column, center, center);
      height: 100%;
    
      p {
        font-size: 18px;
        margin-top: 10px;
      }
    
      .form__fieldset__envelop-img {
        width: 60%;
        padding: 0;
        animation: 1.8s linear 0s infinite running movingEnvelop;
      }
    }
  }
}
  
.fieldset-element {
  padding: 8px;

  &__textarea {
    height: 136px;
  }

  &__button {
    background: transparent;
    border: 1px solid var(--text);
    color: var(--text);
    cursor: pointer;
    font-size: 14px;
    padding: 3px;
    width: 100%;
  
    &:hover {
      background-color: var(--primary);
    }
  }

  &__input, &__textarea {
    color: var(--text);
    background: transparent;
    border: 1px solid var(--shadow);
    margin-top: 3px;
    padding: calc($base-size / 2);
    width: 100%;
  }
}

@keyframes movingEnvelop {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(100px);
  }
}

.hide {
  display: none;
}

@media (min-width: map-get($breakpoints, "xs")) {
  .form {
    display: none;
  }
  .section-home__box--contact-form {
    padding: 0;
  }
}

@media (min-width: map-get($breakpoints, "sm")) {
  .form {
    display: none;
  }
  .section-home__box--contact-form {
    padding: 0;
  }
}

@media (min-width: map-get($breakpoints, "md")) {
  .section-home__box--contact-form a {
    display: none;
  }
  .form {
    display: block;
  }
  .section-home__box--contact-form {
    padding: 0 $base-size 0 $base-size;
    
    &:hover {
      cursor: auto;
    }
  }
}
