*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  margin: 0;
  font-family: $font-text;
}

.main {
  border-radius: $radius;
  box-shadow: 10px 10px 17px -5px var(--shadow);
  border: 2px solid var(--shadow);
  position: absolute;
  @include center();
}