/* Icons and grid size settings on home section */

@media (min-width: map-get($breakpoints, "xs")) {

  .section-home__container {
    padding: $base-size;
    @include grid-layout(3, 6, 100px, 5px);
  }

  .section-home__box--intro {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
        
  .section-home__box--gallery {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }
        
  .section-home__box--github {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
        
  .section-home__box--linkedin {
    grid-column: 2 / 3;
    grid-row: 3 / 4;  
  }
        
  .section-home__box--contact-form {
    grid-column: 2 / 3;
    grid-row: 4 / 5;     
  }
        
  .section-home__box--news {
    grid-column: 1 / 4;
    grid-row: 6 / 7;  
  }
        
  .section-home__box--clock {
    grid-column: 3 / 4;
    grid-row: 1 / 2;     
  }
        
  .section-home__box--certificates {
    grid-column: 1 / 2;
    grid-row: 4 / 5;  
  }
        
  .section-home__box--projects {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
        
  .section-home__box--cv {
    grid-column: 3 / 4;
    grid-row: 2 / 3;    
  }
        
  .section-home__box--technologies {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
        
  .section-home__box--theme-switch {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

@media (min-width: map-get($breakpoints, "sm")) {

  .section-home__container {
    padding: $base-size * 1.5;
    @include grid-layout(3, 6, 140px, 10px);
  }

  .section-home__box--intro {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
      
  .section-home__box--gallery {
    grid-column: 1 / 3;
    grid-row: 5 / 6; 
  }
       
  .section-home__box--github {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
        
  .section-home__box--linkedin {
    grid-column: 2 / 3;
    grid-row: 3 / 4;  
  }
        
  .section-home__box--contact-form {
    grid-column: 2 / 3;
    grid-row: 4 / 5;     
  }
        
  .section-home__box--news {
    grid-column: 1 / 4;
    grid-row: 6 / 7;  
  }
        
  .section-home__box--clock {
    grid-column: 3 / 4;
    grid-row: 1 / 2;     
  }
        
  .section-home__box--certificates {
    grid-column: 1 / 2;
    grid-row: 4 / 5;  
  }
        
  .section-home__box--projects {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
        
  .section-home__box--cv {
    grid-column: 3 / 4;
    grid-row: 2 / 3;    
  }
        
  .section-home__box--technologies {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
        
  .section-home__box--theme-switch {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

@media (min-width: map-get($breakpoints, "md")) {

  .section-home__container {
    padding: $base-size * 2;
    @include grid-layout(6, 6, 110px, 8px);
  }
        
 .section-home__box--intro {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
    
  .section-home__box--gallery {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
  }
    
  .section-home__box--github {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
  }
    
  .section-home__box--linkedin {
    grid-column: 1 / 2;
    grid-row: 6 / 7;   
  }
    
  .section-home__box--contact-form {
    grid-column: 1 / 7;
    grid-row: 4 / 6;     
  }
    
  .section-home__box--news {
    grid-column: 4 / 7;
    grid-row: 6 / 7; 
  }
    
  .section-home__box--clock {
    grid-column: 6 / 7;
    grid-row: 1 / 2;     
  }
    
  .section-home__box--certificates {
    grid-column: 4 / 5;
    grid-row: 3 / 4;  
  }
    
  .section-home__box--projects {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
  }
    
  .section-home__box--cv {
    grid-column: 5 / 6;
    grid-row: 3 / 4;    
  }
    
  .section-home__box--technologies {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
  }
    
  .section-home__box--theme-switch {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }  
}

@media (min-width: map-get($breakpoints, "lg")) {

  .section-home__container {
    padding: $base-size * 2.5;
    @include grid-layout(7, 5, 120px, 10px);
  }
   
  .section-home__box--intro {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
  
  .section-home__box--gallery {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
  }
    
  .section-home__box--github {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
    
  .section-home__box--linkedin {
    grid-column: 2 / 3;
    grid-row: 4 / 5;  
  }
    
  .section-home__box--contact-form {
    grid-column: 3 / 8;
    grid-row: 4 / 6;     
  }
    
  .section-home__box--news {
    grid-column: 1  / 3;
    grid-row: 5 / 6; 
  }
    
  .section-home__box--clock {
    grid-column: 7 / 8;
    grid-row: 1 / 2;     
  }
    
  .section-home__box--certificates {
    grid-column: 6 / 7;
    grid-row: 3 / 4; 
  }
    
  .section-home__box--projects {
    grid-column: 4 / 5;
    grid-row: 3 / 4; 
  }
    
  .section-home__box--cv {
    grid-column: 7 / 8;
    grid-row: 3 / 4;    
  }
    
  .section-home__box--technologies {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
  }
    
  .section-home__box--theme-switch {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
  }
    
}

@media (min-width: map-get($breakpoints, "xl")) {

    
  .section-home__container {
    @include grid-layout(7, 5, 140px, 15px);
    padding: $base-size * 4;
  }
   
  .section-home__box--intro {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
    
  .section-home__box--gallery {
    grid-column: 5 / 8;
    grid-row: 2 / 4;
  }
    
  .section-home__box--github {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
    
  .section-home__box--linkedin {
    grid-column: 2 / 3;
    grid-row: 4 / 5;  
  }
    
  .section-home__box--contact-form {
    grid-column: 3 / 8;
    grid-row: 4 / 6;     
  }
    
  .section-home__box--news {
    grid-column: 1  / 3;
    grid-row: 5 / 6;  
  }
    
  .section-home__box--clock {
    grid-column: 4 / 5;
    grid-row: 1 / 2;     
  }
    
  .section-home__box--certificates {
    grid-column: 6 / 7;
    grid-row: 1 / 2;   
  }
    
  .section-home__box--projects {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
    
  .section-home__box--cv {
    grid-column: 5 / 6;
    grid-row: 1 / 2;    
  }
    
  .section-home__box--technologies {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }
    
  .section-home__box--theme-switch {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
  }    
}