.section-home__box--news{
  box-shadow: inset 0px 0px 30px -10px rgba(0, 0, 0, 1);
  pointer-events: none;
  
  &:hover {
    cursor: auto;
  }
}

.news {
  text-align: center;
  
  &__descr {
    background: -webkit-linear-gradient(138deg, rgba(151,0,212,1) 18%, rgba(180,101,0,1) 85%);
    font-size: 12px;
    margin: 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}