.section-home__box--news{
  box-shadow: inset 0px 0px 70px -10px rgba(0, 0, 0, 1);
  pointer-events: none;
  
  &:hover {
    cursor: auto;
  }
}

.news {
  height: 100%;
  width: 100%;

  &__wrapper {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    @include center($position: relative);

    &__descr {
      animation: move 16s infinite linear;
      background: -webkit-linear-gradient(138deg, rgba(151,0,212,1) 18%, rgba(180,101,0,1) 85%);
      display: inline-block;
      font-family: $font-news;
      font-size: 28px;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
 
@keyframes move {
  from{
    left: 380px}
  to{
    left: -1720px}
  }