/* General */

.section-projects {
  background-color: var(--primary);
  border: 2px solid var(--shadow);
  border-radius: $radius;
  color: var(--text);
  height: 90%;
  padding: 2 * $base-size;
  width: 92%;
  @include center();

  @media (max-width: map-get($breakpoints, "md")){
    padding: 10px;
  }
}

.projects-content {
  display: flex;
  height: 100%;
  width: 100%;

  &__nav {
    background: var(--bg);
    border: 1px solid var(--shadow);
    border-radius: $radius;
    flex: 1 0 0;
    padding: $base-size;
    text-align: center;
  
    &:first-of-type ul > li  {
      padding: 8px;    
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
      margin: 48px 0 12px 0;
      text-decoration: underline;
      text-transform: uppercase;
    }

    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    
      .active {
        font-weight: bold;
      }
    }

    &__list--tags {
      & > * {
        margin-bottom: 8px;
      }
    }
    
    &__list--authors {
      & > * {
        margin-bottom: 10px;
      }
    }

    @media (max-width: map-get($breakpoints, "xl")){
      font-size: 14px;

      &__title {
        font-size: 16px;
      }
    }

    @media (max-width: map-get($breakpoints, "md")){
      font-size: 12px;
      flex: 1.6 0 0;
  
      &:first-of-type {
        .projects-content__nav__title {
          margin-top: 36px;
        }
      }
  
      &__title {
        font-size: 14px;
        margin-top: 8px;
      }
  
      &__list > * {
        display: inline;
      }
    }

    @media (max-width: map-get($breakpoints, "sm")){
      font-size: 12px;
      flex: 1.8 0 0;
      padding: 3px;
  
      &:first-of-type {
        .projects-content__nav__title {
          margin-top: 4px;
          padding: 2px;
        }
      }
  
      &__title {
        font-size: 14px;
        margin: 7px;
      }
    
      &__list {
        padding: 2px;
       
        & > * {
          display: inline;
        }
      }
    }
  }

  &__main {
    background: var(--bg);
    border: 1px solid var(--shadow);
    border-radius: $radius;
    flex: 5 0 0;
    margin: 0 10px 0 10px;
    padding: $base-size;

    &__intro {
      display: none;
    
      &.active {
        display: block;
        @include center();
    
        &.active .projects-content__main__intro__title {
          animation: typing 1.5s steps(30, end), blink-caret 1s step-end infinite;  
          border-right: 1px solid var(--text);
          letter-spacing: 1.4px;
          overflow: hidden; 
          white-space: nowrap; 
        }
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border: 1px solid var(--shadow);
      border-radius: 8px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: var(--main);
      border: 2px solid var(--shadow);
      border-radius: 8px;
    }
  }

  &__links {
    color: var(--text);
    text-decoration: none;
  }

  @media (max-width: map-get($breakpoints, "md")){
    flex-direction: column;
    height: 100%;

    &__main {
      margin: 4px 0 4px 0;
      overflow-y: auto;
      position: relative;
    }
  }
}

/* Single project */

.project {
  display: none;

  &__title {
    margin-bottom: $base-size;
  }

  &__image {
    width: 14%;
  }
  
  &__author {
    font-style: italic;
  }

  &.active {
    display: block;
    @include center();
  }

  &__link-icon {
    bottom: 12px;
    position: relative;
  }

  &__link {
    bottom: 12px;
    color: var(--text);
    margin-left: 4px;
    position: relative;
    color: var(--text);
    text-decoration: none;

    &__underline {
      background: linear-gradient(90deg, transparent, var(--text));
      height: 1px;
      left: 0px;
      position: absolute;
      top: 100%;
      transition: width 0.3s;
      width: 0;
    }
  
    &:hover .project__link__underline {
      width: 100%;
    }
  
    &:hover {
      color: grey;
    }
  }

  @media (max-width: map-get($breakpoints, "sm")){
    font-size: 12px;
    height: 100%;
    margin: 20px 0 20px 0;
    
    &.active {
      width: 85%;
    }

    &__title {
      margin: 0 0 4px 0;
    }

    &__image {
      margin: 0;
      width: 20%;
    }
  }

  @media (max-width: map-get($breakpoints, "md")){
    font-size: 12px;
    
    &.active {
      width: 85%;
    }
  }

  @media (max-width: map-get($breakpoints, "xl")){
    font-size: 14px;
  }
}

.project-tags {
  display: flex;
  margin-bottom: 30px;

  &:first-child {
    margin: 15 10px 0 0;
  }
}

.tags-list--horizontal {
  & > * {
    display: inline-block;
  }
}


/* Welcome text animation */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--text) }
}

/* New project class */

.new {
  position: relative;
}

.new::before {
  background-color: red;
  border-radius: 50%;
  content: "new!";
  color: white;
  position: absolute;
  @include flex(center, center, center);

  @media (max-width: map-get($breakpoints, "md")){
    display: none;
  }

  @media (max-width: map-get($breakpoints, "lg")){
    font-size: 10px;
    height: 17px;
    left: 38px;
    top: -6px;
    width: 29px;
  }

  @media (min-width: map-get($breakpoints, "lg")){
    font-size: 11px;
    height: 18px;
    left: -21px;
    top: -14px;
    width: 28px;
  }

  @media (min-width: map-get($breakpoints, "xl")){
    font-size: 12px;
    height: 20px;
    left: -30px;
    top: -14px;
    width: 32px;
  }
}


/* Tags size */

@media (min-width: map-get($breakpoints, "xs")){
  .tag-size-1 {
    font-size: 8px;
  }
  
  .tag-size-2 {
    font-size: 11px;
  }
  
  .tag-size-3 {
    font-size: 12px;
  }
  
  .tag-size-4 {
    font-size: 14px;
  }
  
  .tag-size-5 {
    font-size: 16px;
  }
}
@media (min-width: map-get($breakpoints, "sm")){
  .tag-size-1 {
    font-size: 9px;
  }
  
  .tag-size-2 {
    font-size: 13px;
  }
  
  .tag-size-3 {
    font-size: 13px;
  }
  
  .tag-size-4 {
    font-size: 15px;
  }
  
  .tag-size-5 {
    font-size: 17px;
  }
}
@media (min-width: map-get($breakpoints, "md")){
  .tag-size-1 {
    font-size: 10px;
  }
  
  .tag-size-2 {
    font-size: 13px;
  }
  
  .tag-size-3 {
    font-size: 13px;
  }
  
  .tag-size-4 {
    font-size: 15px;
  }
  
  .tag-size-5 {
    font-size: 17px;
  }
}
@media (min-width: map-get($breakpoints, "lg")){
  .tag-size-1 {
    font-size: 11px;
  }
  
  .tag-size-2 {
    font-size: 15px;
  }
  
  .tag-size-3 {
    font-size: 15px;
  }
  
  .tag-size-4 {
    font-size: 17px;
  }
  
  .tag-size-5 {
    font-size: 19px;
  }
}
@media (min-width: map-get($breakpoints, "xl")){
  .tag-size-1 {
    font-size: 12px;
  }

  .tag-size-2 {
    font-size: 16px;
  }

  .tag-size-3 {
    font-size: 16px;
  }

  .tag-size-4 {
    font-size: 18px;
  }

  .tag-size-5 {
    font-size: 20px;
  }
}